<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kuka">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.75837654559219 -1.23711350944153 1.18632027705368"
        rpy="0 0 0" />
      <mass
        value="171.312513540901" />
      <inertia
        ixx="15.4278561288017"
        ixy="-0.769988015650327"
        ixz="-0.334753403251719"
        iyy="21.0949940722863"
        iyz="-0.217841140427834"
        izz="14.6830568753194" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.00796741917398325 0.00201869055885329 0.332718073498992"
        rpy="0 0 0" />
      <mass
        value="6.27526433045034" />
      <inertia
        ixx="0.0762054973038634"
        ixy="9.82188144602616E-06"
        ixz="-0.00530053527199498"
        iyy="0.0500772495062883"
        iyz="-0.000515039637430452"
        izz="0.0562692167501716" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0.99274 -1.1143 1.2159"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.00525474426050976 -0.00581945167957376 0.131443823337851"
        rpy="0 0 0" />
      <mass
        value="7.36258419634408" />
      <inertia
        ixx="0.151415779931163"
        ixy="-1.49717873128011E-05"
        ixz="0.000868975869957531"
        iyy="0.135639503612803"
        iyz="0.00168356970516859"
        izz="0.0384883579875792" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0.025 0 0.4"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0158897368152564 0.000775516230594464 0.0103622040756426"
        rpy="0 0 0" />
      <mass
        value="2.90698496298682" />
      <inertia
        ixx="0.00835937629920169"
        ixy="3.5250448987803E-05"
        ixz="-0.00140858848013628"
        iyy="0.0112132449222538"
        iyz="1.88954265908357E-05"
        izz="0.0100277382159978" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 1 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0 0.003 0.315"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.255931724655061 0.0034688213159344 0.000289159424440966"
        rpy="0 0 0" />
      <mass
        value="2.75654211573085" />
      <inertia
        ixx="0.00584711967477623"
        ixy="-0.00015632319294057"
        ixz="5.19520515729141E-06"
        iyy="0.0156113114634342"
        iyz="1.44373513440274E-05"
        izz="0.0172713089969858" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.025 0 0.035"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.0157891702201634 0.00191367544254928 -3.039581434372E-05"
        rpy="0 0 0" />
      <mass
        value="0.442067197041382" />
      <inertia
        ixx="0.000318420757784049"
        ixy="1.66314420372694E-05"
        ixz="3.20639671748359E-07"
        iyy="0.000528480030475793"
        iyz="3.23079721638147E-07"
        izz="0.000562282896446429" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="0.39 0 0"
      rpy="0 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.462480331956145 1.01252339845814E-13 4.31407313123966E-05"
        rpy="0 0 0" />
      <mass
        value="0.0139949492210216" />
      <inertia
        ixx="3.02502810414484E-06"
        ixy="1.83000555009878E-20"
        ixz="-8.56055866654998E-10"
        iyy="1.71731248188306E-06"
        iyz="2.63558962089382E-22"
        izz="1.70788961196185E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="-0.39 0 0"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>