<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kuka">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.59313617859597 -1.11287465825018 -0.416127983870025"
        rpy="0 0 0" />
      <mass
        value="171.312513540901" />
      <inertia
        ixx="15.4278561288017"
        ixy="0.334753403251731"
        ixz="-0.769988015650326"
        iyy="14.6830568753194"
        iyz="0.217841140427883"
        izz="21.0949940722863" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.00796741917125121 0.00201869056408216 0.11571807350516"
        rpy="0 0 0" />
      <mass
        value="6.2752643308886" />
      <inertia
        ixx="0.0762054973100548"
        ixy="9.82188280946032E-06"
        ixz="-0.00530053527041219"
        iyy="0.0500772495105224"
        iyz="-0.000515039640446044"
        izz="0.0562692167535696" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0.8275 -1.3595 -0.29335"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.00525474390047875 -0.00581945126514727 0.131443818626646"
        rpy="0 0 0" />
      <mass
        value="7.36258357526296" />
      <inertia
        ixx="0.151415777716324"
        ixy="-1.49718250099863E-05"
        ixz="0.000868975515047321"
        iyy="0.135639501588784"
        iyz="0.00168356952008552"
        izz="0.0384883582251908" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0.025 0 0.183"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0158897367922235 0.00377551624197836 0.0103622040751556"
        rpy="0 0 0" />
      <mass
        value="2.90698496201672" />
      <inertia
        ixx="0.00835937629772127"
        ixy="3.52504465660668E-05"
        ixz="-0.00140858848005162"
        iyy="0.0112132449173567"
        iyz="1.88954263071988E-05"
        izz="0.0100277382096032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 1 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0 0 0.315"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.123981724655049 0.00346882131594944 0.000289159424433638"
        rpy="0 0 0" />
      <mass
        value="2.75654211573202" />
      <inertia
        ixx="0.00584711967477938"
        ixy="-0.000156323192938725"
        ixz="5.19520515683486E-06"
        iyy="0.015611311463437"
        iyz="1.44373513448292E-05"
        izz="0.017271308996991" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="0.10695 0.003 0.035"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.015789170220162 0.00191367544264348 -3.03958143441641E-05"
        rpy="0 0 0" />
      <mass
        value="0.442067197041368" />
      <inertia
        ixx="0.000318420757784035"
        ixy="1.66314420372671E-05"
        ixz="3.20639671747154E-07"
        iyy="0.000528480030475773"
        iyz="3.23079721640088E-07"
        izz="0.000562282896446409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="0.25805 0 0"
      rpy="0 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.00598033195614622 0 4.31407313121746E-05"
        rpy="0 0 0" />
      <mass
        value="0.0139949492210213" />
      <inertia
        ixx="3.02502810414477E-06"
        ixy="4.83649451427049E-23"
        ixz="-8.56055866655457E-10"
        iyy="1.71731248188302E-06"
        iyz="1.40762316274446E-22"
        izz="1.70788961196181E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="0.0665 0 0"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>